@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;700;900&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #131334;
  font-family: "Outfit", sans-serif;
  color: #ebebeb;
}

header {
  text-align: center;
}

form {
  margin-inline: auto;
  text-align: center;
  display: inline-block;
}

fieldset {
  display: inline-block;

  margin-bottom: 1.5em;
  margin-inline: 1.5em;
  accent-color: #7a408a;

  padding-block: 1.6em;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 64px;
  font-weight: 900;
  position: relative;
  top: 16px;
  z-index: 1;
  pointer-events: none;
}

.container {
  max-width: 768px;
  /* width: 80%; */
  margin-inline: auto;
}

.container2 {
  max-width: 768px;
  /* width: 80%; */
  margin-inline: auto;
  margin-block: 2em;
  border: 1px solid #7a408a;
  background-color: #0c0b1d;
}

#tabellone {
  background-color: #0c0b1d;
  color: #ebebeb;
  border-radius: 8px;
  border: 8px solid #0c0b1d;
  margin-bottom: 1.5em;
}

.num {
  display: inline-block;
  width: 7.5%;
  padding-block: 1.5em;
  position: relative;
  border: 1px solid transparent;
  border-radius: 8px;
}

.num h3 {
  text-align: center;
  font-size: 26px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.num.selected {
  border-color: #7a408a;
  background-color: #7a408a66;
}

.num2 {
  display: inline-block;
  width: 20%;
  padding-block: 1.5em;
  position: relative;
  border: 1px solid transparent;
  border-radius: 8px;
}

.num2 h3 {
  text-align: center;
  font-size: 36px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.num2.selected {
  border-color: #7a408a;
  background-color: #7a408a66;
}

#estrai {
  margin-inline: auto;
  color: white;
  background-color: #0c0b1d;
  padding: 1em;
  font-size: 1.5em;
  font-weight: 700;
  border-radius: 11px;
}

#estrai:hover {
  background-color: #15132e;
  cursor: pointer;
  border: 1 px solid red;
}

#estrattore {
  text-align: center;
  margin: 1.5em;
  display: inline-block;
}

.numtab {
  display: inline-block;
  width: 19.6%;
  padding-block: 1.5em;
  position: relative;
  border: 1px solid transparent;
  border-radius: 8px;
}

.numtab h3 {
  text-align: center;
  font-size: 26px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

#slipNumber {
  width: 3em;
  text-align: right;
}

#chooser {
  text-align: center;
  display: inline-block;
}

#schedine {
  width: 46%;
}

#tabelline {
  color: #ebebeb;
  border-radius: 8px;

  margin-bottom: 1.5em;
}
